<%= form_with(model: superhero, local: true) do |form| %>
  <% if superhero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(superhero.errors.count, "error") %> prohibited this superhero from being saved:</h2>

      <ul>
      <% superhero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
