<p id="notice"><%= notice %></p>

<h1>Abilities</h1>

<table>
  <thead>
    <tr>
      <th>Power</th>
      <th>Superhero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @abilities.each do |ability| %>
      <tr>
        <td><%= ability.power %></td>
        <td><%= ability.superhero_id %></td>
        <td><%= link_to 'Edit', edit_superhero_ability_path(@superhero, ability) %></td>
        <td><%= link_to 'Destroy', superhero_ability_path(@superhero, ability), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ability', new_superhero_ability_path %>
