<p id="notice"><%= notice %></p>

<p>
  <strong>Power:</strong>
  <%= @ability.power %>
</p>

<p>
  <strong>Superhero:</strong>
  <%= @ability.superhero_id %>
</p>

<%= link_to 'Edit', edit_superhero_ability_path(@ability) %> |
<%= link_to 'Back', superhero_path(@superhero) %>
